.message {

}

.imageAndText {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    background: rgba(0, 102, 204, 1);
    padding: 10px;
    border-radius: 15px;
    position: relative;
    z-index: -2;
}

.text:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -30px;
    border-left: 50px solid rgba(0, 102, 204, 1);
    border-right: 0 solid transparent;
    border-top: 20px solid transparent;
    z-index: -2;
}

.name {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: right;
}

.messageText {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    margin-top: 2px;
}

.time {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    margin-top: 2px;
    text-align: right;
    margin-right: 10px;
}